.bar {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
}
.header2 {
    color: #B94F37;
    font-size: 7vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

.header3 {
    color: #B94F37;
    font-size: 7vw;
    margin-left: 5vw;
    margin-bottom: 2vw;

}

.text3 {
    color: #2A2930;
    margin-left: 5vw;
    font-size: 5vw;
    margin-bottom: 5vw;
}
@media only screen and (min-width: 750px) {
    .box {
        display: flex;
        display: inline-block;
        width: 100%;
    }
    .bar {
        width: 60%;
        margin-left: 10vw;
        max-width: 30%;
        margin-right: 5vw;
        float: left;
    }
    .header2 {
        flex-wrap: wrap;
        font-size: 3vw;
        text-align: left;
        margin-right: 10vw;
        margin-bottom: 13vw;
        margin-top: 0;
    }
