*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav_link {
    display: block;
    color: #000000;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #FCD079;
    text-align: left;
    padding: 13px;
    text-decoration: none;
}

.navigation_container {
    background-color: #FCD079;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    height: 53px;
}

.menu {
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 3px;
    margin-bottom: 2px;
}

.menu_item {
    font-size: 12px;
    padding: 5px 5px 5px 20px;
}

.logo_image {
    height: 70%;
    max-width: 200px;
    margin: 2% 10px 2% 10px;
}
.customized {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}
.header1 {
    color: #B94F37;
    font-size: 7vw;
    text-align: center;
    margin-top: -10vw;
    margin-bottom: 20vw;
}


.products {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}
.header2 {
    color: #B94F37;
    font-size: 7vw;
    text-align: center;
    margin-bottom: 2vw;
}

.history {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.text {
    margin-left: 5vw;
    margin-right: 5vw;
    color: #2A2930;
    margin-bottom: 10vw;
    text-align: center;
}
.text2 {
    margin-left: 5vw;
    margin-right: 5vw;
    color: #2A2930;
    margin-bottom: 10vw;
    text-align: center;
}
.video {
    margin-top: 20vw;
}

iframe {
         width: 1px;
         min-width: 100%;
         *width: 100%;
    }

.link {
    text-decoration: none;
    color: #B94F37;
}
hr {
  border-top: 5px solid #B94F37;
    width: 50%;
    margin-bottom: 3vw;
}
@media only screen and (min-width: 750px) {

    .logo_image {
        margin: 6px 6px 6px 6px;
    }

    .customized {
        width: 30%;
        margin-bottom: 5vw;
        margin-top: 2vw;
    }
    .header1 {
        font-size: 3vw;
        margin-bottom: 10vw;
    }
    .one {
        display: flex;
        display: inline-block;
        margin-bottom: 5vw;
        width: 100%;
    }
    .products, .history {
        width: 30%;
        float: left;
        margin-left: 10vw;
        margin-top: 0;
    }

    .header2 {
        font-size: 4vw;
        margin-right: 5vw;
    }

    .text {
        font-size: 1.5vw;
        text-align: left;
        margin-left: 47vw;
        margin-bottom: 10vw;
    }
    .video {
        width: 85%;
        height: 100%;
        margin-bottom: 5vw;
        margin-top: 0;
        display: flex;
        float: left;
        margin-left: 10vw;

    }
    iframe {
         width: 1px;
         min-width: 560px;
         *width: 560px;
        height: 315px;

    }
        .text2 {
        font-size: 1.5vw;
        text-align: left;
        margin-right: 5vw;;
        margin-bottom: 10vw;
        margin-left: 5vw;
        flex-wrap: wrap;
        width: 100%;
    }
}
