*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.nav_link {
    display: block;
    color: #000000;
    text-align: center;
    color: white;
    font-size: 14px;
    background-color: #FCD079;
    text-align: left;
    padding: 13px;
    text-decoration: none;
}

.navigation_container {
    background-color: #FCD079;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    height: 53px;
}

.menu {
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 3px;
    margin-bottom: 2px;
}

.menu_item {
    font-size: 12px;
    padding: 5px 5px 5px 20px;
}

.logo_image {
    height: 70%;
    max-width: 200px;
    margin: 2% 10px 2% 10px;
}
.customized {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}
.header1 {
    color: #B94F37;
    font-size: 7vw;
    text-align: center;
    margin-top: -10vw;
    margin-bottom: 20vw;
}


.products {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}
.header2 {
    color: #B94F37;
    font-size: 7vw;
    text-align: center;
    margin-bottom: 20vw;
}

.history {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

.text {
    margin-left: 5vw;
    margin-right: 5vw;
    color: #2A2930;
    margin-bottom: 10vw;
}
.video {
    margin-top: 20vw;
}

iframe {
         width: 1px;
         min-width: 100%;
         *width: 100%;
    }
@media only screen and (min-width: 750px) {

    .logo_image {
        margin: 6px 6px 6px 6px;
    }
}
