.customized {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;

}
.header1 {
    color: #B94F37;
    font-size: 7vw;
    text-align: center;
    margin-top: -10vw;
    margin-bottom: 20vw;
}
.bar {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header2 {
    color: #B94F37;
    font-size: 7vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-bottom: 10vw;
}
@media only screen and (min-width: 750px) {
     .customized {
        width: 30%;
        margin-bottom: 5vw;
        margin-top: 2vw;
    }
        .header1 {
        font-size: 3vw;
        margin-bottom: 10vw;
    }
    .box {
        display: flex;
        display: inline-block;
        width: 100%;
    }
    .bar {
        width: 60%;
        margin-left: 10vw;
        max-width: 30%;
        margin-right: 5vw;
        float: left;
    }
    .header2 {
        flex-wrap: wrap;
        font-size: 3vw;
        text-align: left;
        margin-right: 10vw;
        margin-bottom: 13vw;
        margin-top: 0;
    }
}
